*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
}

.top{
    background-color: #ffc62c;
    min-height: 350px;

    .container{
        display: flex;
        min-height: 350px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.more{
    text-shadow: 1px 1px #77777793;

    .col{
        padding: 10px;
    }

    .col img{
        height: 100px;
        width: 100px;
        display: block;
        margin: 0px auto;
    }
}
